@model DevFolio.Models.TblTestimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Refernas Güncelleme Sayfası</h2>
<form method="post">
    <label>Referans Id</label>
    @Html.TextBoxFor(x => x.TestimonialID, new { @class = "form-control" })
    <br />
    <label>Referans Adı Soyadı</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Referans Görseli</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Referans Yorumu</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Referansı Güncelle</button>
</form>
