
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/devfolio-master/foto.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/Default/Index">Portfolio</a> </li>
            <li><a href="/About/AboutList">Hakkımda</a></li>
            <li><a href="/Admin/AdminList">Admin</a></li>
            <li><a href="/Project/CreateProject">Yeni Proje Girişi</a></li>
            <li><a href="/Service/ServiceList">Hizmetler</a></li>
            <li><a href="/Category/CategoryList">Kategoriler</a></li>
            <li><a href="/Skill/SkillList">Yetenekler</a></li>
            <li><a href="/Testimonial/TestimonialList">Referanslar</a></li>
            <li><a href="/Statistic/Index">İstatislikler</a></li>
            <li><a href="/Project/Index">Projeler</a></li>
            <li><a href="/SocialMedia/SocialMediaList">SosyalMedya</a></li>
            <li><a href="/Adress/AdressList">İletişim bilgileri</a></li>
            <li><a href="/Contact/MessageList">Gelen mesaj</a></li>
            <li><a href="/Profile/ProfileList">Ayarlar</a></li>
        </ul>

        <div class="footer">
            <p>
                
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                <br />
                Tüm hakları saklıdır.
               
            </p>
        </div>

    </div>
</nav>