
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger">Kategori Sayısı:@ViewBag.categoriCount </div>
<div class="alert alert-warning">Proje Sayısı:@ViewBag.projectCount </div>
<div class="alert alert-success">Yetenek Sayısı:@ViewBag.skillCount </div>
<div class="alert alert-dark">Ortalama Yetenek Puanı:@ViewBag.skillAvgValue </div>
<div class="alert alert-primary">Son Eklenen Yetenek:@ViewBag.lastSkillTitleName </div>
<div class="alert alert-info">Asp.Net Core Proje Sayısı:@ViewBag.coreCategoryProjectCount </div>



