
@{
    Layout = null;
}

<h3> Merhaba Dünya </h3>
<h4> DevFolio Projesi</h4>
<h1> Yasin Yaman </h1>
<h2> Yasin Yaman </h2>
<h3> Yasin Yaman </h3>
<h4> Yasin Yaman </h4>
<h5> Yasin Yaman </h5>
<h6> Yasin Yaman </h6>
<div style="background-color:cadetblue"> Burası bir divdir</div>
<br />
<div style="background-color:orangered">Burasi 2. div alanıdır</div>
<div style=" background-color:aqua">Yasin Yaman</div>
<br />
<a href="http://www.google.com">Googla git</a>
<hr width="100%" color="#0000F8" size="4">

<a href="http://www.mynet.com">Mynet'e git</a>